<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <strong class="d-inline-block mb-2 text-danger">JEE Advanced</strong>

                <img src="jee_adv.avif" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title"> JEE Advanced 2020 - AIR 6808</h5>
                    <div class="mb-1 text-muted">2020</div>

                    <p class="card-text">
                        Tarang Sir excelled with an All India
                        Rank of 6808 in JEE Advanced
                        2020, a testament to his dedication and proficiency in the field.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <strong class="d-inline-block mb-2 text-success">IISER</strong>

                <img src="iiser.jpeg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">IISER Behrampur Selection</h5>
                    <div class="mb-1 text-muted">2020</div>

                    <p class="card-text">
                        His academic excellence earned him a spot at the
                        prestigious IISER Behrampur,
                        underscoring his commitment to scientific education.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <strong class="d-inline-block mb-2 text-primary">NEST</strong>

                <img src="niser.webp" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">NISER and UM-DAE - AIR 186 in NEST 2020</h5>
                    <div class="mb-1 text-muted">2020</div>

                    <p class="card-text">
                        Tarang Sir secured admission to both NISER and UM-DAE with an
                        impressive All India Rank of 186 in NEST 2020.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <strong class="d-inline-block mb-2 text-warning">IPMAT</strong>

                <img src="iim_indore.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">IIM Indore IPMAT 2020</h5>
                    <div class="mb-1 text-muted">2020</div>

                    <p class="card-text">
                        Tarang Sir demonstrated managerial and
                        analytical skills by clearing the
                        IPMAT conducted by IIM Indore in 2020, complementing his scientific acumen.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <strong class="d-inline-block mb-2 text-primary">NTSE</strong>

                <img src="ntse.png" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">NTSE Stage 1 - 2016</h5>
                    <div class="mb-1 text-muted">2016</div>

                    <p class="card-text">
                        His early academic brilliance was
                        recognized with the clearance of
                        the National Talent Search Examination (NTSE) Stage 1 in 2016, marking a significant
                        milestone in his academic journey.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <strong class="d-inline-block mb-2 text-warning">Australian Chemistry Quiz</strong>

                <img src="aus_quiz.png" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">High Distinction in Australian Chemistry Quiz 2015</h5>
                    <div class="mb-1 text-muted">2015</div>

                    <p class="card-text">
                        Tarang Sir achieved a High Distinction in the 2015 Australian Chemistry
                        Quiz, highlighting his international excellence.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <strong class="d-inline-block mb-2 text-success">Fitness and Nutrition</strong>

                <img src="nutrition.avif" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Level 1 Certified Fitness Trainer and Nutrition Specialist</h5>
                    <div class="mb-1 text-muted">2021</div>

                    <p class="card-text">
                        Tarang Sir is a
                        certified Level 1 Fitness Trainer
                        and Nutrition Specialist, demonstrating his commitment to holistic well-being and a healthy
                        lifestyle.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <strong class="d-inline-block mb-2 text-danger">Powerlifting</strong>

                <img src="powerlifting.avif" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Gold Medal in Gujarat State Powerlifting Championship 2022</h5>
                    <div class="mb-1 text-muted">2022</div>
                    <p class="card-text">
                        Tarang Sir's dedication to physical fitness is
                        highlighted by his gold medal
                        in the Gujarat State Powerlifting Championship in 2022, a testament to his strength,
                        discipline, and perseverance.
                    </p>
                </div>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>