<div class="container-fluid px-4 py-5 card-back background-primary" id="custom-cards">
  <h2 class="pb-2 border-bottom text">What we guarantee</h2>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col borderless no-overflow-y">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg bg-card"
        style="background-image: url('images/interactive_lecture.png');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold over-text">Interactive lectures</h2>
        </div>
      </div>
    </div>
    <div class="col borderless no-overflow-y">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg bg-card"
        style="background-image: url('images/doubt_solving.png');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold over-text">Doubt solving</h2>
        </div>
      </div>
    </div>
    <div class="col borderless no-overflow-y">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg bg-card"
        style="background: url('images/indepth_teaching.png');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold over-text">In-depth teaching&nbsp;&nbsp;</h2>
        </div>
      </div>
    </div>
  </div>
</div>
