<div class="container px-4 py-5 card-back smooth-bg" id="custom-cards" data-aos="flip-up" data-aos-offset="10" data-aos-easing="ease-in-sine" data-aos-anchor-placement="center-bottom">
    <h2 class="pb-2 border-bottom">What we guarantee</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col borderless">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg bg-card" style="background-image: url('images/interactive_lecture.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold over-text">Interactive lectures&nbsp;&nbsp;</h2>
          </div>
        </div>
        <h5 class="card-undertext">Interactive Lectures</h5>
      </div>

      <div class="col borderless">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg bg-card" style="background-image: url('images/doubt_solving.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold over-text">Doubt solving&nbsp;&nbsp;/h2>
          </div>
        </div>
        <h5 class="card-undertext">Doubt Solving</h5>
      </div>

      <div class="col borderless">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg bg-card" style="background-image: url('images/indepth_teaching.png');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold over-text">In-depth teaching&nbsp;&nbsp;</h2>
          </div>
        </div>
        <h5 class="card-undertext">In-depth teaching</h5>
      </div>
    </div>
  </div>