<hr class="featurette-divider" />

<div
  class="row featurette"
  data-aos="fade-right"
  data-aos-offset="50"
  data-aos-easing="ease-in-back"
  data-aos-anchor-placement="center-bottom"
>
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">
      Learn from the experience
      <span class="text-body-secondary text-muted">of a talented tutor</span>
    </h2>
    <p class="lead info">
      Tarang K. Bombale is a dedicated young educator currently pursuing an
      Integrated MSc in Mathematics at SVNIT Surat. With a passion for teaching,
      he has served as a Physics teacher at IIT Gurukul, Surat, specializing in
      JEE Physics. Currently, he continues to inspire students as an Online
      Physics Tutor. Tarang's academic prowess is highlighted by his impressive
      achievements, showcasing his versatility beyond academics, including a
      gold medal in the Gujarat State Powerlifting Championship 2022. His
      strength lies in exceptional reasoning skills, determination, hard work,
      and unwavering passion for education. Outside academia, he actively
      contributes to society as an Associate HR at Edignite, an NGO dedicated to
      the education of underprivileged children. Tarang's multifaceted
      personality also includes a flair for poetry, both in writing and
      appreciation, adding a creative dimension to his profile.
    </p>
  </div>
  <div class="col-md-5">
    <svg
      class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
      width="500"
      height="500"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-label="Placeholder: 500x500"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" />
      <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">
        500x500
      </text>
    </svg>
  </div>
</div>

<!--
<div class="row featurette" data-aos="fade-left" data-aos-offset="50" data-aos-easing="ease-in-back" data-aos-anchor-placement="center-bottom">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">
      Oh yeah, it’s that good.
      <span class="text-body-secondary">See for yourself.</span>
    </h2>
    <p class="lead">
      Another featurette? Of course. More placeholder content here to give you
      an idea of how this layout would work with some actual real-world content
      in place.
    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <svg
      class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
      width="500"
      height="500"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-label="Placeholder: 500x500"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" />
      <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">
        500x500
      </text>
    </svg>
  </div>
</div>-->

<hr class="featurette-divider" />
