<hr class="featurette-divider" />

<div
  class="row featurette"
  data-aos="fade-right"
  data-aos-offset="50"
  data-aos-easing="ease-in-back"
  data-aos-anchor-placement="center-bottom"
>
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">
      Learn from the experience
      <span class="text-body-secondary text-muted">of a talented tutor</span>
    </h2>
    <p class="lead info">
      Tarang K. Bombale is a dedicated young educator currently pursuing an
      Integrated MSc in Mathematics at NIT Surat. With a passion for teaching,
      he has served as a Physics teacher at IIT Gurukul specializing in
      JEE Physics. Currently, he continues to inspire students as an Online
      Physics Tutor. Tarang's academic prowess is highlighted by his impressive
      achievements and his versatility. 
    </p>
  </div>
  <div class="col-md-5">
    <svg
      class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
      width="500"
      height="500"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-label="Placeholder: 500x500"
      preserveAspectRatio="xMidYMid slice"
      focusable="false"
    >
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" />
      <text color="white" x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text>
      <image href="images/experience.png" width="100%" height="100%" />
  </svg>
  </div>
</div>



<hr class="featurette-divider" />
