<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top smooth-bg"
>
  <p class="col-md-4 mb-0 text-body-secondary" style="color: white;">&copy; <%= new Date().getFullYear()%> WebForge &bull; Tarang's Tutorials</p>

  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item">
      <a class="nav-link new-footer-link text-body-secondary footer-home"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link new-footer-link px-2 text-body-secondary footer-portfolio"
        >Portfolio</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link new-footer-link px-2 text-body-secondary footer-testimonials"
        >Testimonials</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link new-footer-link px-2 text-body-secondary footer-courses"
        >Courses</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link new-footer-link px-2 text-body-secondary footer-contact"
        >Contact</a
      >
    </li>
  </ul>
  <p><a class="new-footer-link" href="#"><i class="fa-solid fa-arrow-up"></i></a></p>
</footer>
<script>
    // GET index
    document.querySelector(".footer-home").addEventListener("click", function () {
      window.location.href = "/";
    });
  
    // GET portfolio
    document.querySelector(".footer-portfolio").addEventListener("click", function () {
      window.location.href = "/portfolio";
    });
  
    // GET testimonials
    document.querySelector(".footer-testimonials").addEventListener("click", function () {
      window.location.href = "/testimonials";
    });
  
    // GET courses
    document.querySelector(".footer-courses").addEventListener("click", function () {
      window.location.href = "/courses";
    });
  
    // GET contact
    document.querySelector(".footer-contact").addEventListener("click", function () {
      window.location.href = "/contact";
    });
  </script>
  
