<head>
  <script src="/scripts/footer.js" defer></script>
</head>

<div class="container-fluid footer-container-fluid">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center pb-3 mb-3">
      <li class="nav-item"><a class="nav-link footer-link px-2 text-body-secondary footer-home">Home</a></li>
      <li class="nav-item"><a class="nav-link footer-link px-2 text-body-secondary footer-portfolio">Portfolio</a></li>
      <li class="nav-item"><a class="nav-link footer-link px-2 text-body-secondary footer-testimonials">Testimonials</a>
      </li>
      <li class="nav-item"><a class="nav-link footer-link px-2 text-body-secondary footer-courses">Courses</a></li>
      <li class="nav-item"><a class="nav-link footer-link px-2 text-body-secondary footer-contact"
          data-bs-toggle="modal" data-bs-target="#staticBackdrop">Contact</a></li>
      <li class="nav-item"><a id="toTop" href="#" class="nav-link footer-link icon px-2 text-body-secondary footer-contact">
          <i class="fa-solid fa-up-long"></i></a>
      </li>
    </ul>
    <p class="text-center text-body-secondary text">&copy; <%= new Date().getFullYear()%> WebForge &bull; Tarang's
        Tutorials
    </p>
  </footer>
</div>


<!-- Modal -->
<%-include('contactmodal.ejs')%>
