<div class="container-fluid informatics-pane">

    <section class="py-5 text-center container">
      <div class=" container-fluid py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light animated-color">Courses</h1>
          <p class="lead text-body-secondary">For our students</p>
        </div>
      </div>
    </section>
    
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col hover-bounce no-overflow-y">
            <div class="card shadow-sm no-overflow-y" data-aos="flip-right" data-aos-offset="50" data-aos-easing="ease-in-back" data-aos-anchor-placement="center-bottom">
                <img src="images/10th_cbse_physics.png">
                <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </div>
                  <small class="text-body-secondary"></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col hover-bounce no-overflow-y">
            <div class="card shadow-sm no-overflow-y" data-aos="flip-right" data-aos-offset="50" data-aos-easing="ease-in-back" data-aos-anchor-placement="center-bottom">
                <img src="images/12th_cbse_physics.png">
                <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </div>
                  <small class="text-body-secondary"></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col hover-bounce no-overflow-y">
            <div class="card shadow-sm no-overflow-y" data-aos="flip-right" data-aos-offset="50" data-aos-easing="ease-in-back" data-aos-anchor-placement="center-bottom">
                <img src="images/jee_physics.png">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </div>
                  <small class="text-body-secondary"></small>
                </div>
              </div>
            </div>
          </div>
  
          
        </div>
      </div>
    </div>
  
</div>