<head>
  <script src="scripts/fetchCourses.js" defer></script>
</head>
<div class="container-fluid informatics-pane">
  <section class="py-5 text-center container">
    <div class=" container-fluid py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light special-font">What we offer</h1>
        <p class="lead text-body-secondary font-contrast">to our students</p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col hover-bounce no-overflow-y">
          <div class="card line-border border-light shadow-sm" data-aos="flip-right" data-aos-offset="50"
            data-aos-easing="ease-in-back" data-aos-anchor-placement="center-bottom">
            <img src="images/NEET_Physics.png">
            <div class="card-body">
              <p class="card-text info" style="color:var(--primary-color)">
                For NEET Aspirants willing to improve their performance 
                by strengthening physics. Covers all the essential topics in Class 11 and 12 
                for the competitive exam. 
              </p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark neet_phy">View</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col hover-bounce no-overflow-y">
          <div class="card line-border no-overflow-y" data-aos="flip-right" data-aos-offset="50"
            data-aos-easing="ease-in-back" data-aos-anchor-placement="center-bottom">
            <img src="images/JEE_basic_physics.png">
            <div class="card-body">
              <p class="card-text info" style="color:var(--primary-color)">
                For JEE aspirants who want to build a strong 
                foundation on topics especially covered in Class 11 physics. Highly 
                recommended for beginners.
              </p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group ">
                  <button type="button" class="btn btn-sm btn-outline-dark jee_phy_b">View</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col hover-bounce no-overflow-y">
          <div class="card line-border no-overflow-y" data-aos="flip-right" data-aos-offset="50"
            data-aos-easing="ease-in-back" data-aos-anchor-placement="center-bottom">
            <img src="images/JEE_adv_physics.png">
            <div class="card-body">
              <p class="card-text info" style="color:var(--primary-color)">
                To help JEE Aspirants fortify their concepts and 
                strengthen the subject. Students will see themselves cracking the most 
                demanding questions easily.
              </p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark jee_phy_a">View</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>