<head>
  <script src="scripts/fetchCourses.js" defer></script>
</head>
<div class="container-fluid informatics-pane">

  <section class="py-5 text-center container">
    <div class=" container-fluid py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light special-font">Courses</h1>
        <p class="lead text-body-secondary font-contrast">For our students</p>
      </div>
    </div>
  </section>


  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col hover-bounce no-overflow-y">
          <div class="card line-border border-light shadow-sm" data-aos="flip-right" data-aos-offset="50"
            data-aos-easing="ease-in-back" data-aos-anchor-placement="center-bottom">
            <img src="images/NEET_physics.png">
            <div class="card-body">
              <p class="card-text info" style="color:var(--primary-color)">
                A comprehensive course tailored for NEET aspirants trying to improve their physics. Designed to provide
                a
                strong foundation in the subject, thus is an essential for success in the medical entrance exam. Ideal
                for students
                aiming to build a robust understanding of the subject as a prerequisite for cracking their tests.
              </p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark neet_phy">View</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col hover-bounce no-overflow-y">
          <div class="card line-border no-overflow-y" data-aos="flip-right" data-aos-offset="50"
            data-aos-easing="ease-in-back" data-aos-anchor-placement="center-bottom">
            <img src="images/JEE_basic_physics.png">
            <div class="card-body">
              <p class="card-text info" style="color:var(--primary-color)">
                Geared towards students preparing for JEE, this Physics course ensures a solid
                grasp of fundamental concepts. Tailored for aspiring engineers in Class 11, the course lays the
                groundwork for tackling basic level questions. A must for those seeking success in one of the
                most competitive engineering entrance exams.
              </p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group ">
                  <button type="button" class="btn btn-sm btn-outline-dark jee_phy_b">View</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col hover-bounce no-overflow-y">
          <div class="card line-border no-overflow-y" data-aos="flip-right" data-aos-offset="50"
            data-aos-easing="ease-in-back" data-aos-anchor-placement="center-bottom">
            <img src="images/JEE_adv_physics.png">
            <div class="card-body">
              <p class="card-text info" style="color:var(--primary-color)">
                An advanced Physics course crafted for students aspiring to excel in the JEE (Advanced) examination.
                Tailored to meet the rigorous demands of complex questions, the course focuses on in-depth
                understanding and problem-solving skills. Ideal for aspirants aiming for top ranks in the
                challenging JEE (Advanced) exam.
              </p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark jee_phy_a">View</button>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>