<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary info-hook">
  <div class="col-lg-6 px-0 smooth-bg">
    <h1 class="display-4 fst-italic">Why students trust us</h1>
    <p class="lead my-3">
      See what our students have to say about their tutor who chiseled into 
      them the strong foundation of physics so that they could excel in their
      exams! 
    </p>
    <p class="lead mb-0">
      <a href="#" class="text-body-emphasis fw-bold new-link">Testimonials...</a>
    </p>
  </div>
</div>


<div class="row mb-2">
  <div class="col-md-6" data-aos="fade-up-right" data-aos-offset="10" data-aos-easing="ease-in-sine" data-aos-anchor-placement="center-bottom">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary-emphasis">Student Review</strong><br>
        <h3 class="mb-0"> (Student Name)</h3>
        <div class="mb-1 text-body-secondary">[Student Achievement]</div>
        <p class="card-text mb-auto info">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
          Ipsum sit vero molestias quasi. 
          Voluptas illum ipsa ex adipisci dolorum asperiores consequatur sequi
          provident magnam voluptatum nesciunt nihil, aut quos modi!
        </p>
        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link new-link">
            More Testimonials..
            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
          </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg
        class="bd-placeholder-img"
        width="200"
        height="250"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c" />
        <text x="25%" y="50%" fill="#eceeef" dy=".3em">Student Photo</text>
      </svg>
        </svg>
      </div>
    </div>
  </div>
  <div class="col-md-6" data-aos="fade-up-left" data-aos-offset="10" data-aos-easing="ease-in-sine" data-aos-anchor-placement="center-bottom">
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success-emphasis">Peer Insight</strong><br>
        <h3 class="mb-0">(Colleague Name)</h3>
        <div class="mb-1 text-body-secondary">[Post]</div>
        <p class="mb-auto info">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic vero voluptatum nulla 
          consequuntur vitae harum id nobis est laudantium velit, eaque a iste! Eaque corrupti,
          pariatur et dolorum quibusdam odio.
        </p>
        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link new-link">
          More Testimonials..
          <svg class="bi"><use xlink:href="#chevron-right" /></svg>
        </a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg
          class="bd-placeholder-img"
          width="200"
          height="250"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Thumbnail"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c" />
          <text x="25%" y="50%" fill="#eceeef" dy=".3em">Peer Photo</text>
        </svg>
      </div>
    </div>
  </div>
</div>
