<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <video class="d-block w-100" autoplay muted loop>
        <source src="images/introduction.mp4" type="video/mp4">
      </video>
      <div class="carousel-caption d-none d-md-block overcarousel">
        <h1>Level up your <span class="special-font">Physics</span> <i class="fa-solid fa-arrow-trend-up vibrant"></i>
        </h1>
        <p>
          <center>
            <p class="col-md-8 fs-4 info text-center">
              Elevate your physics journey with
              <b>Tarang's Tutorials</b> where curiosity meets accomplishment!
            </p>
          </center>
        </p>
        <center>
          <button class="demos btn-primary fs-3"><i
              class="fa-solid fa-video"></i>&nbsp;Get a Free Demo</button>
        </center>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid d-md-none p-3" style="background-color: var(--primary-color);">
  <center><h1>Level up your <span class="special-font">Physics</span> <i class="fa-solid fa-arrow-trend-up vibrant"></i></h1></center>
  <p>
    <center>
      <p class="col-md-8 fs-4 info text-center">
        Elevate your physics journey with
        <b>Tarang's Tutorials</b> where curiosity meets accomplishment!
      </p>
    </center>
  </p>
  <center>
    <a class="btn btn-outline-light demos-new fs-3" style="color: var(--text-color);" download><i
        class="fa-solid fa-video"></i>&nbsp;Get a Free Demo</a>
  </center>
</div>
<br>
<script>
  document.querySelector(".demos").addEventListener("click", function () {
    window.location.href = "/courses";
  });
  document.querySelector(".demos-new").addEventListener("click", function () {
    window.location.href = "/courses";
  });
</script>