
<br><br><div class="container-fluid bg-dark-seethrough">
  <div class="p-1 mb-4 bg-body-tertiary container-txt">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold text-center font-dark">
        Level up your <span class="special-font">Physics</span>&nbsp;
        <i class="fa-solid fa-arrow-trend-up vibrant"></i>
      </h1>
      <center>
        <p class="col-md-8 fs-4 info text-center">
          Embark on a physics odyssey with Tarang Bombale, your guide to
          mastering 10<sup>th</sup> and 12<sup>th</sup> grade physics, as well
          as excelling in JEE! Unleash your potential with engaging lessons that
          fuse academic excellence and a passion for understanding the
          universe's fundamental principles. Elevate your physics journey with
          <b>Tarang's Tutorials</b> — where curiosity meets accomplishment!
        </p>
      </center>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div
      class="col-md-6"
      data-aos="fade-zoom-in"
      data-aos-offset="50"
      data-aos-easing="ease-in-back"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="h-100 p-1 text-bg-dark fs-5">
        <h2 class="font-dark">From 10<sup>th</sup> to JEE</h2>
        <p class="info">
          Not only do we strengthen your fundamentals on the 10+2 level, but we
          also prepare you for your competitive exams!
        </p>
      </div>
    </div>
    <div
      class="col-md-6"
      data-aos="fade-zoom-in"
      data-aos-offset="50"
      data-aos-easing="ease-in-back"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="h-100 p-2 bg-body-tertiary border-light">
        <h2>Get a free Demo</h2>
        <p class="info">
          Try our demo notes and lectures for free to have a better insight into
          our teaching strategy. Tarang's Tutorials' interactive and inquisitive
          sessions on even some of the most complex topics make sure that you
          get a good grasp on your fundamentals with the help of the experienced
          Tarang Bombale.
        </p>
        <center>
          <button class="btn btn-outline-light demos" type="button">
            Let's Go
          </button>
        </center>
      </div>
    </div>
  </div><br><br>
</div><br><br>

<script>
  document.querySelector(".demos").addEventListener("click", function () {
    window.location.href = "/courses";
  });
</script>
