<div class="modal fade" id="updateDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content override-style">
      <div class="modal-header override-style">
        <h1 class="modal-title" id="staticBackdropLabel">Update Personal Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%-include('../forms/personalData.ejs')%>
        <!--%-include('../forms/personalDataEdit.ejs')%-->
      </div>
      <div class="modal-footer override-style">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>