<div class="container mt-5">
    <h1 class="mb-4">Add Video</h1>
    <form action="/add-video" method="POST" validate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label for="url" class="form-label">Video URL</label>
        <input type="text" class="form-control" id="url" name="url" required>
      </div>
      <div class="mb-3">
        <label for="duration" class="form-label">Duration</label>
        <input type="text" class="form-control" id="duration" name="duration" required>
      </div>
      <button type="submit" class="btn btn-primary" id="add-video" disabled>Add</button>
    </form><br>
    <button class="btn btn-danger" onclick="document.getElementById('add-video').disabled=false">Confirm</button>
  </div>
  