<div class="container mt-5">
  <h1 class="mb-4">Add Video</h1>
  <dl>
    <dt class="fs-3"><b>WARNING</b></dt>
    <dd>
        Make sure you provide the Google Drive URL for your 
        videos and that anyone with the link is able to view it 
        with full access. Make sure the url ends with /preview.
    </dd>
</dl>
  STATUS: <p class="fs-6 special-font" id="status-av">
    CONTINUE
  </p>
  <form action="/add-video" method="POST" validate>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="url" class="form-label">Video URL</label>
      <input type="text" class="form-control" id="url-av" name="url" required>
    </div>
    <div class="mb-3">
      <label for="duration" class="form-label">Duration</label>
      <input type="text" class="form-control" id="duration" name="duration" required>
    </div>
    <button type="submit" class="btn btn-primary" id="add-video" disabled>Add</button>
  </form><br>
  <button class="btn btn-danger" id="confirm-button-av" onclick="document.getElementById('add-video').disabled=false">Confirm</button>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const urlInput = document.getElementById('url-av');
    const addButton = document.getElementById('add-video');
    const statusP = document.getElementById('status-av');

    function checkUrl() {
      const url = urlInput.value;

      if (url.includes('/view?usp=drivesdk')) {
        const convertedUrl = url.replace('/view?usp=drivesdk', '/preview');
        urlInput.value = convertedUrl;
        addButton.disabled = true;
        statusP.innerText = 'Video URL contains /view?usp=drivesdk an be converted to /preview for embedding.';
      }
      else if(url.includes('/view?usp=drive_link')) {
        const convertedUrl = url.replace('/view?usp=drive_link', '/preview');
        urlInput.value = convertedUrl;
        addButton.disabled = true;
        statusP.innerText = 'Video URL contains /view?usp=drive_link and will be converted to /preview for embedding.';
      } else {
        addButton.disabled = false;
      }
    }
    checkUrl();
    urlInput.addEventListener('input', checkUrl);
    urlInput.addEventListener('paste', checkUrl);
    document.getElementById('confirm-button-av').addEventListener('click', function () {
      addButton.disabled = false;
    });
  });
</script>
