<div class="container mt-5">
    <h1 class="mb-4">Delete Notes</h1>
    <dl>
        <dt class="fs-3"><b>WARNING</b></dt>
        <dd>
            Make sure you provide the Google Drive URL for the notes 
            you have published on the website only for successful 
            deletion.
        </dd>
    </dl>
    <form action="/delete-notes" method="POST" validate>
        <div class="mb-3">
            <label for="url" class="form-label">Notes URL</label>
            <input type="text" class="form-control" id="url" name="url" required>
        </div>
        <button type="submit" class="btn btn-primary" id="delete-notes" disabled>Delete</button>
    </form><br>
    <button class="btn btn-danger" onclick="document.getElementById('delete-notes').disabled=false">Confirm</button>
</div>