<div class="container mt-5">
    <h1 class="mb-4">Edit Note</h1>
    <form action="/notes/<%= noteId %>" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= note.title %>" required>
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" rows="5"><%= note.content %></textarea>
      </div>
      <div class="mb-3">
        <label for="noteLink" class="form-label">Note Link</label>
        <input type="text" class="form-control" id="noteLink" name="noteLink" value="<%= note.noteLink %>">
      </div>
      
      
      <button type="submit" class="btn btn-primary">Update Note</button>
    </form>
</div>
  