<!--The header will go here-->
<%-include("partials/header.ejs")%>

<!--Include your partials here-->
<div
class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary info-hook"
>
<div class="col-lg-6 px-0 smooth-bg">
  <h1 class="display-4 fst-italic">Contact Us</h1>
  <p class="lead my-3">
    Use the following details to contact us for any queries, doubts 
    or even feedback and suggestions!
  </p>
</div>
</div>
<%-include("partials/contactfeatures.ejs")%>

<!--Conclude the page with a footer-->
<%-include("partials/footer.ejs")%>