<!--The header will go here-->
<%-include("partials/header.ejs")%>

  <!--Include your partials here-->

  <body class="index-body">
    <div class="container-fluid override-featurette card1">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <!-- Content for the first column -->
          <div class="p-3">
            <p class="lead info">
              <bold class="special-font">NEET Physics</bold>
            </p>
            <p class="lead info">
              Specialized course catering to NEET aspirants, focusing on biology-centric concepts crucial for success in
              medical entrance exams. Strategic problem-solving and targeted preparation pave the way for confidence and
              excellence in the medical field.
            </p>
            <p class="lead info">Hot Intake from this Course</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item lead info"><b style="color:var(--accent-color)">Features</b></li>
              <li class="list-group-item lead info">Live Doubt Solving</li>
              <li class="list-group-item lead info">Complete NEET Syllabus will be covered</li>
              <li class="list-group-item lead info">Class Notes will given in pdf form</li>
              <li class="list-group-item lead info">Chapter Wise practice sheet will be given at the end of th chapter
              </li>
              <li class="list-group-item lead info">Chapter wise PYQ’s Discussion after the end of the chapter</li>
              <li class="list-group-item lead info">At the end of chapter one lecture for all the derivations of the
                chapter(Quick Revision)</li>
              <li class="list-group-item lead info">All lectures will be provided in recorded form</li>
              <li class="list-group-item lead info">Daily Practice Problems with their Video Solution in Quiz format
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center p-3 demo-frame">
          <iframe width="100%" height="360px"
            src="https://drive.google.com/file/d/1fpasEEE4OZNxT7r-G0yTSntFyDk1XDZo/preview" frameborder="0"
            allowfullscreen>
          </iframe>
          <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
            <div class="d-grid gap-2">
              <button class="download-notes"><i class="fa-solid fa-file-pdf"></i>&nbsp;Download Notes</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid override-featurette card1">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <div class="p-3">
            <p class="lead info">
              <bold class="special-font">JEE Physics (Basic)</bold>
            </p>
            <p class="lead info">
              Elevate JEE Main performance with a focused physics course covering mechanics to modern physics. Emphasis
              on problem-solving and strategic techniques equips aspiring engineers for success in this competitive
              entrance exam.
            </p>
            <p class="lead info">Hot Intake from this Course</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item lead info"><b style="color:var(--accent-color)">Features</b></li>
              <li class="list-group-item lead info">Live Doubt Solving</li>
              <li class="list-group-item lead info">Complete JEE mains Syllabus will be covered</li>
              <li class="list-group-item lead info">Class Notes will given in pdf form</li>
              <li class="list-group-item lead info">Chapter Wise practice sheet will be given at the end of th chapter
              </li>
              <li class="list-group-item lead info">Chapter wise PYQ’s Discussion after the end of the chapter</li>
              <li class="list-group-item lead info">At the end of chapter one lecture for all the derivations of the
                chapter(Quick Revision)</li>
              <li class="list-group-item lead info">All lectures will be provided in recorded form</li>
              <li class="list-group-item lead info">Daily Practice Problems with their Video Solution in Quiz format
              </li>
              <li class="list-group-item lead info">Some Sample Notes : <a href="../public/document/notes3.pdf"
                  class="notes-link">Notes</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center demo-frame">
          <iframe width="100%" height="360px"
            src="https://drive.google.com/file/d/1CllCXkANZjL0-ImXGVLKkYGwDwX6n3pp/preview" frameborder="0"
            allowfullscreen>
          </iframe>
          <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
            <div class="d-grid gap-2">
              <button class="download-notes"><i class="fa-solid fa-file-pdf"></i>&nbsp;Download Notes</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid override-featurette card1">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <!-- Content for the first column -->
          <div class="p-3">
            <p class="lead info">
              <bold class="special-font">JEE Physics (Advanced)</bold>
            </p>
            <p class="lead info">
              Advanced course designed for JEE Advance aspirants, offering in-depth coverage of mechanics,
              electromagnetism, optics, and modern physics. The program sharpens problem-solving and exam strategies,
              ensuring a targeted and results-driven approach to excel in the toughest engineering entrance exam.
            </p>
            <p class="lead info">Hot Intake from this Course</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item lead info"><b style="color:var(--accent-color)">Features</b></li>
              <li class="list-group-item lead info">Live Doubt Solving</li>
              <li class="list-group-item lead info">Complete JEE Advance Syllabus will be covered</li>
              <li class="list-group-item lead info">Class Notes will given in pdf form</li>
              <li class="list-group-item lead info">Chapter Wise practice sheet will be given at the end of th chapter
              </li>
              <li class="list-group-item lead info">Chapter wise PYQ’s Discussion after the end of the chapter</li>
              <li class="list-group-item lead info">At the end of chapter one lecture for all the derivations of the
                chapter(Quick Revision)</li>
              <li class="list-group-item lead info">All lectures will be provided in recorded form</li>
              <li class="list-group-item lead info">Daily Practice Problems with their Video Solution in Quiz format
              </li>
              <li class="list-group-item lead info">Some Sample Notes : <a href="../public/document/notes3.pdf"
                  class="notes-link">Notes</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center demo-frame">
          <iframe width="100%" height="360px"
              src="https://drive.google.com/file/d/1brqJvLN8qDrnF_CdD3xjlmqrAYn2HJOw/preview" frameborder="0"
              allowfullscreen>
          </iframe>
          <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
            <div class="d-grid gap-2">
              <button class="download-notes"><i class="fa-solid fa-file-pdf"></i>&nbsp;Download Notes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!--Conclude the page with a footer-->
  <%-include("partials/footer.ejs")%>