<!--The header will go here-->
<%-include("partials/header.ejs")%>
<style>
    body{
        background-image: url('images/web.png');
        background-repeat: repeat;
        
    }
</style>
<!--Include your partials here-->
<body>
    hello.
</body>
<!--Conclude the page with a footer-->
<%-include("partials/footer.ejs")%>