<!--The header will go here-->
<%-include("partials/header.ejs")%>
<!--Include your partials here-->
<body>
    hello.
</body>
<!--Conclude the page with a footer-->
<%-include("partials/footer.ejs")%>