<head>
    <link rel="icon" href="images/emblem_white.png">
</head>
<body class="index-body">
<!--The header will go here-->
<%-include("partials/header.ejs")%>
<!--Include your partials here-->
<br><%-include("partials/skills.ejs")%><br>
<%-include("partials/achievements.ejs")%><br>
<!--Conclude the page with a footer-->
<%-include("partials/footer.ejs")%>
</body>