<head>
    <link rel="icon" href="images/emblem_white.png">
</head>
<body class="index-body">
<%-include("partials/header.ejs")%>
<%-include("partials/rating.ejs")%>
<%-include("partials/footer.ejs")%>

</body>