<body class="index-body">
<!--The header will go here-->
<%-include("partials/header.ejs")%>
<!--Include your partials here-->
<%-include("partials/rating.ejs")%>
<!--Conclude the page with a footer-->
<%-include("partials/footer.ejs")%>
</body>