:root {
  --primary-color: #222831;
  --secondary-color: #393E46;
  --accent-color: #00ADB5;
  --text-color: #EEEEEE;
  --web-bg-color: #E1E9F5;
}

* {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}
@keyframes smooth-background {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 50% 100%;
  }
}

.admin-body{
  background-image: url('/images/web.png');
  background-repeat: repeat;
  animation: smooth-background 100s infinite;
}
.index-body{
  background-image: url('../images/web.png');
  background-repeat: repeat;
  animation: smooth-background 100s infinite;
}

.new-link {
  color: var(--text-color);
}

.new-link:hover {
  color: var(--text-color);
  cursor: pointer;
}

.navbar {
  height: auto;
  background-color: var(--primary-color);
}

.nav-container-fluid {
  flex-direction: column;
}

.navbar-toggler.navbar-toggler-override {
  border: none;
}

.navbar-toggler.navbar-toggler-override:active {
  border: none;
}

.navbar-color-override {
  background-color: var(--primary-color);
}

.navbar-color-override:active {
  background-color: var(--secondary-color);
}

.navbar-toggler.override {
  border: none;
}

.nav-link.nav-text {
  font-size: 1.30rem;
  color: var(--text-color);
}

.nav-link.nav-text:hover,
.nav-link.nav-text:active {
  color: var(--accent-color);
  border-bottom: 0.25rem solid var(--accent-color);
  cursor: pointer;
}

.navbar-nav.navbar-nav-override {
  gap: 20px;
}

.footer-container-fluid {
  background-color: var(--primary-color);
}

.nav-link.footer-link {
  color: var(--text-color);
}

.nav-link.footer-link:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.nav-link.footer-link:active {
  color: var(--accent-color);
  cursor: pointer;
}


.special-font {
  color: var(--accent-color);
}

.informatics-pane {
  background-color: var(--primary-color);
}

.font-contrast {
  color: var(--text-color);
}

.info {
  text-align: justify;
}


.border-dark {
  border: 1px solid var(--primary-color);
}
.border-light{
  border: 1px solid var(--text-color);
}

.card.line-border {
  border-radius: 0px;
}

.info-hook {
  background-color: var(--primary-color);
}

.text {
  color: var(--text-color);
}

.tab-division {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  background-color: var(--primary-color);
  text-align: center;
}

.nav-link.nav-text.tab-text:hover {
  cursor: pointer;
}

.background-primary {
  background-color: var(--primary-color);
}

.card.new-card {
  border-radius: 0px;
  background-color: var(--primary-color);
}

.card-text.dark {
  color: var(--text-color);
}

.card-title {
  color: var(--text-color);
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-content.override-style {
  border-radius: 0px;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.modal-header.override-style {
  border-bottom: none;
}

.modal-footer.override-style {
  border-top: none;
}

.bg-dark-seethrough{
  background-color: var(--primary-color)
}

.container-fluid.override-featurette{
  background-color: var(--primary-color);
}
.container.override-featurette{
  background-color: var(--primary-color);
}

#transition-bar-active::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:10;
  background: url('../images/load.gif');
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: 30% 55%;
  background-position: 50% 50%;
  background-color: white;
  animation: loading 2s linear;
}
@keyframes loading {
  80% {
      opacity: 0.9;
  }
  90%{
      opacity: 0.5;
  }
  100%{
      opacity: 0.0;
  }
}

.review-tab{
  background: var(--primary-color);
}

.row.rating-line{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.card-title.review{
  color:var(--accent-color);
}

*{
  font-family: 'Poppins', sans-serif;
}


.auth-portal{
  background-color: var(--primary-color);
}

.dark-prompt-text{
  color: var(--secondary-color);
}

.sidebar{
  background-color: var(--primary-color);
  height: 100%;
}

.instructions{
  background-color: var(--secondary-color);
}

body{
  background-image: url('images/web.png');
  background-repeat: repeat;
}
.info{
background-color: transparent;
color: white;
}
.card1{
margin-top: 10px;
}
.notes-link{
color: white;
text-decoration: none;
}
.notes-link{
color: white;
text-decoration: none;
}
.notes-link:hover{
color: #1072da;
text-decoration: none;
}

.demo-frame{
  display: flex;
  flex-direction: column;
  gap:5px;
  flex-wrap: wrap; 
}

.download-notes{
  background-color: rgb(0,0,0);
  color:var(--text-color);
  border: 1px solid white;
  border-radius: 0.25rem;
}
.download-notes:hover{
  background-color: var(--secondary-color);
}
/*stylise the back to top button*/
#toTop {
  display: block; 
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 20px; 
  right: 30px; 
  z-index: 100; 
  border: 2px solid white;
  outline: none;
  background-color: rgba(0,0,0,1);
  color: white; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 0px; 
  text-decoration: none; 
  text-align: center;
}
#toTop:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border:5px solid #ffd700;
  animation: bounce 1s linear infinite;
}
@keyframes bounce{
  0%{
      transform: translateY(+2%);
  }
  25%{
      transform: translateY(-1%);
  }
  75%{
      transform: translateY(-1%);
  }
  100%{
      transform: translateY(+2%);
  }
}

@keyframes color-change{
  0%{
    color:red;
  }
  50%{
    color:blue;
  }
  75%{
    color:green;
  }
  100%{
    color: red;
  }
}

.vibrant{
  animation: color-change 5s infinite;
}